name: Build and Release React App

on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Build Docker image
      uses: docker/build-push-action@v2
      with:
        context: frontend/.
        file: frontend/Dockerfile
        push: true
        tags: ghcr.io/d-jesse/vacation-manager:latest
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

